
.counterpanel {
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #E7EEF2;
    text-align: center;
  }

  .text-counter {
    font-size: 180pt;
    color: #00B4A4;
    text-align: center;
  }
}

